<div class="container">
  <body>

    <div class="about-section">
      <h1>Ofrecelo</h1>
      <p>Es una iniciativa que nace de la necesidad de conectar a las personas más cercanas y fortalecer el comercio en comunidades. </p>
      <p>Somos un grupo de emprendedores amantes de la técnoologia y con un objetivo claro, ayudar a este mundo ser un mejor lugar para vivir. </p>

      <p>Por favor no dudes en contactarnos, estamos abiertos a revibir tu feedback </p>
      <a class="nav-link" >hello@ofrecelo.com</a>
    </div>

    
    </body>
</div>
  