<div class="container-fluid">
  <div class="row flex-nowrap">
    <div *ngFor="let offer of offers">
        <div class="card card-block">
          <img class="card-img-top" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{offer.title}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
    </div>
  </div>
</div>
