<div class="container">
  <div class="container">
    <div [hidden]="submitted">
      <h1>Reset your Password</h1>
      <form #registerForm="ngForm">

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" required
                 [(ngModel)]="registerForm.email" name="email" #email="ngModel" ngModel [email]="true">
        </div>
        <div [hidden]="email.valid || email.pristine"
               class="alert alert-danger">
            Email is required
          </div>
        
      
        <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid || !confirmpasswordValid || loading"  (click)="onSubmit(registerForm)">Submit</button>
        <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button> -->
  
      </form>
    </div>
    <div [hidden]="!showError"
        class="alert alert-danger">
        {{errorMassage}}
    </div>

    <div [hidden]="showError || !submitted">
      <h2>Bienvenido {{ showUser().name }}, tus registro fue exitoso</h2>
      <br>
      <button class="btn btn-primary" (click)="home()">Home</button>
    </div>
  </div>
</div>
  