<div class="container">
  <div class="container">
    <div [hidden]="submitted">
      <h1>Recupera tu contraseña</h1>
      <form #registerForm="ngForm">

        <div class="form-group">
          <label for="email">Ingresa tu Email</label>
          <input type="email" class="form-control" id="email" required
                 [(ngModel)]="registerForm.email" name="email" #email="ngModel" ngModel [email]="true">
        </div>
        <div [hidden]="email.valid || email.pristine"
               class="alert alert-danger">
            El Email es obligatorio
          </div>
        
      
        <button type="submit" class="btn btn-success" [disabled]="!registerForm.form.valid || loading"  (click)="onSubmit(registerForm)">Recuperar</button>
        <!-- <button type="button" class="btn btn-default" (click)="newHero(); heroForm.reset()">New Hero</button> -->
  
      </form>
    </div>
    <div [hidden]="!showError"
        class="alert alert-danger">
        {{errorMassage}}
    </div>

    <div [hidden]="showError || !submitted">
      <h4>Estimado usuario hemos enviado informaci&oacute;n al email {{user.email }}</h4>
      <br>
      <button class="btn btn-primary" (click)="home()">Volver</button>
    </div>
  </div>
</div>
  