<div class="col-md-6 offset-md-3 mt-5">
   <div *ngIf="error" class="alert alert-info">
      <div class="alert alert-danger mt-3 mb-0">Email o Contraseña incorecta, por favor intente nuevamente</div>
  </div>
  <div class="card">
      <h4 class="card-header">Inicio de sesi&oacute;n</h4>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="username">Email</label>
                  <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                  <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                      <div *ngIf="f.username.errors.required">El Email es obligatorio</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">Contraseña</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
                  </div>
              </div>
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Iniciar sesi&oacute;n
              </button>
            <br>
              <a class="nav-link" [routerLink]="'/restpassword'">Olvidaste tu contraseña?</a>

          </form>
      </div>
  </div>
</div>